pool 2.rocky.pool.ntp.org iburst

driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync

{% for client in chrony_ntp_clients %}
allow {{ client }}
{% endfor %}

local stratum 10

ntsdumpdir /var/lib/chrony
logdir /var/log/chrony