[Unit]
Description=PostgreSQL
After=network.target

[Service]
Type=forking
User={{ postgresql_user }}
ExecStart={{ postgresql_prefix }}/bin/pg_ctl -D {{ postgresql_data_dir }} -l {{ postgresql_data_dir }}/logfile start
ExecStop={{ postgresql_prefix }}/bin/pg_ctl -D {{ postgresql_data_dir }} stop
ExecReload={{ postgresql_prefix }}/bin/pg_ctl -D {{ postgresql_data_dir }} reload
PIDFile={{ postgresql_data_dir }}/postmaster.pid

[Install]
WantedBy=multi-user.target